.feedback {
	display: flex;
	align-items: center;

	.label {
		display: grid;
		width: 100%;
		justify-content: space-between;
	}

	.reviews {
		display: grid;
		align-items: center;
		margin: 100px 0;

		.totalReviews {
			font-size: 30px;
			color: white;
			margin-bottom: 20px;
		}

		.tovar-container {
			display: grid;
			align-items: start;
			justify-content: start;
			height: 600px;
			overflow-y: scroll;
			gap: 30px;

			.review-item {
				color: white;
				display: grid;
				gap: 20px;
				padding: 20px;
				border-radius: 20px;

				.review-header {
					display: grid;
					gap: 5px;
					
					time {
						opacity: .5;
					}
				}

				h1 {
					font-size: 30px;
				}

				.review-text {
					font-size: 20px;

					text-wrap: balance;
					white-space: wrap;
					height: max-content;
					word-wrap: break-word;
				}

				.review-rating {
					display: flex;
				}

				svg {
					fill: var(--ratingStarColor);
				}
			}
		}
	}

	.addReview-container {
		display: grid;
		gap: 50px;

		.error-review {
			color: red;
			font-size: 25px;
			font-weight: 700;
		}

		h1 {
			font-size: 30px;
			color: white;
		}

		.addReview-form {
			display: grid;
			gap: 50px;
			justify-content: center;

			input, textarea {
				font-size: 30px;
				padding: 10px;
				background-color: #181818;
				color: white;
				border-radius: 15px;
				transition: box-shadow .1s ease-in-out;
				
				resize: none;

				&:focus {
					box-shadow: 0 0 1px 1px red;
				}
			}
		}

		.addReview-rate-container {
			display: grid;
			gap: 10px;
			
			label {
				color: white;
				font-size: 30px;
			}
			
			.addReview-rate {
				display: flex;
				gap: 5px;

				svg {
					fill: var(--ratingStarColor);
					cursor: pointer;
				}
			}
		}

		button {
			width: max-content;
			padding: 15px;
			font-size: 25px;
			justify-self: end;
			cursor: pointer;
			border-radius: 15px;
			background-color: transparent;
			color: #00c300;
			text-shadow: 0 0 1em currentColor;
			transition: text-shadow .2s ease-in-out;

			&:hover {
				text-shadow: 0 0 1em currentColor, 1px 1px 1.5em currentColor, 1px 1px 2em currentColor;
			}
		}
	}
}